@import "bootstrap_variables";
@import "bootstrap_custom";

// FIXME remove this workaround as soon as we can overwrite bootstrap variable
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.6);

  &:hover {
    color: rgba(0,0,0,.8);
  }
}

.navbar-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: $spacer * 2;
}

.navbar-light {
  height: 82px;
  position: relative;

  .navbar-toggler {
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
  }

  .navbar-nav {
    height: 100%;
    position: relative;

    // do not blur vertically centered text when it's placed on a half-pixel
    transform-style: preserve-3d;

    // center li in navbar vertically
    li {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      .nav-link {
        color: #ccc;

        &:hover {
          color: #fff;
        }
      }

      &.active > .nav-link {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

/* Welcome banner */
#welcome {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  background-color: $brand-dark-blue;
  color: #fff;

  .whiteclouds {
    position: absolute;
    bottom: 0px;
    left: -10%;
    width: 120%;
    z-index: 50;
  }

  .blueclouds {
    position: absolute;
    bottom: -10%;
    width: 82%;
    left: 18%;
    z-index: 25;
  }

  .rocket {
    height: 45vh;

    // make rocket smaller on small screens
    @include media-breakpoint-down(sm) {
      height: 35vh;
    }
  }

  h1 {
    font-size: 60px;
    font-weight: 700;
    padding: 0 0 $spacer 0;
    margin: 0;

    // make h1 smaller on small screens
    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }
  }

  h2 {
    padding-bottom: $spacer * 3;
    font-size: 40px;

    // make h2 smaller in small screens
    @include media-breakpoint-down(sm) {
      padding-bottom: $spacer;
      font-size: 30px;
    }
  }

  // center h1, h2 and rocket on small screens
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  // container containing h1, h2 and rocket
  .container {
    position: relative;
    top: 50%;
    transform: translateY(-45%);
    z-index: 100;
  }

  // black background
  .outer-space {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }

  // blue background (overlays black one)
  .blue-bg {
    background-color: $brand-dark-blue;
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 1;
  }
}

button.download {
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: $brand-dark-blue;
  }
}

.featurette {
  img {
    width: 100%;
    @include media-breakpoint-down(sm) {
      padding: $spacer 0;
    }
  }

  .plus {
    color: $brand-orange;
    font-weight: 700;
  }
}

.featurette-divider {
  margin: $spacer * 3 0;
}

.home-download-container {
  background-color: $brand-dark-blue;
  width: 100%;
  color: #fff;
  font-size: $font-size-h2;
  padding: 3 * $spacer 0;
  margin: $spacer * 3 0;

  button {
    float: right;
  }

  // center contents on small screens
  @include media-breakpoint-down(sm) {
    text-align: center;

    button {
      float: none;
      margin-top: $spacer;
    }
  }
}

.news-column {
  border-right: $hr-border-width $hr-border-color solid;

  .lead {
    padding-bottom: $spacer;
  }

  button {
    margin-top: $spacer;
  }

  h5 {
    color: $gray;
  }
}

footer {
  margin-top: 4 * $spacer;
  padding-top: 2 * $spacer;
  padding-bottom: 10 * $spacer;
  color: #fff;
  background-color: $brand-dark-blue;

  h5 {
    text-transform: uppercase;
    color: $gray-lighter;
  }

  a {
    color: $brand-orange;

    &:focus {
      color: $brand-orange;
    }

    &:hover, &:active {
      color: #fff;
    }
  }

  .fraunhofer-logo {
    max-height: 4rem;
  }
}
