- unless sections.empty?
  - toclevels ||= (document.attr 'toclevels', 2).to_i
  - slevel = section_level sections.first
  %ul.nav.flex-column{:class=>"sectlevel#{slevel}"}
    - sections.each do |sec|
      %li.nav-item
        %a.nav-link{:href=>"##{sec.id}"}= section_title sec
        - if (sec.level < toclevels) && (child_toc = converter.convert sec, 'outline')
          = child_toc