<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h5>Website</h5>
        <ul class="list-unstyled">
          <li class="nav-item">
            <a class="nav-link" href="#">Downloads</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Showcases</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/docs">Docs</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<footer class="copyright">
  <div class="container">
    <div class="row copyright">
      <div class="col-md-4">
        <a href="http://www.igd.fraunhofer.de">
          <img class="img-responsive fraunhofer-logo" src="{{ site.url }}/images/fraunhofer.svg" alt="Fraunhofer logo">
        </a>
      </div>
      <div class="col-md-8">
        <p class="pull-right">Copyright &copy; 2015-{{ site.time | date("YYYY") }} <a href="http://www.igd.fraunhofer.de">Fraunhofer Institute for Computer Graphics Research IGD</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

<script src="{{ site.url }}/js/jquery.scrollme.min.js"></script>

</body>
</html>
