<footer>
  <div class="container">
    <nav class="navbar">
      <a class="navbar-brand hidden-xs-down" href="{{ site.url }}/">GeoRocket</a>
      <ul class="nav navbar-nav pull-sm-right">
        <li class="nav-item">
            <a class="nav-link" href="#">Downloads</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Showcases</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/docs">Docs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/blog">Blog</span></a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
<footer class="copyright">
  <div class="container">
    <div class="row copyright">
      <div class="col-md-4">
        <a href="http://www.igd.fraunhofer.de">
          <img class="img-fluid fraunhofer-logo" src="{{ site.url }}/images/fraunhofer.svg" alt="Fraunhofer logo">
        </a>
      </div>
      <div class="col-md-8">
        <p class="text-md-right">Copyright &copy; 2015-{{ site.time | date("YYYY") }} <a href="http://www.igd.fraunhofer.de">Fraunhofer Institute for Computer Graphics Research IGD</a> |
        <a href="{{ site.url }}/imprint">Imprint</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

<script src="{{ site.url }}/js/jquery.dotdotdot.min.js"></script>
<script src="{{ site.url }}/js/jquery.scrollme.min.js"></script>

<script src="{{ site.url }}/js/applyellipsis.js"></script>
<script src="{{ site.url }}/js/disabledpaginationlinks.js"></script>
<script src="{{ site.url }}/js/gototopbutton.js"></script>

{% if stickytoc %}
<script src="{{ site.url }}/js/fixedfixed.js"></script>
<script src="{{ site.url }}/js/fixedsticky.js"></script>
<script src="{{ site.url }}/js/stickytoc.js"></script>
{% endif %}
{% if scrollspytoc %}
<script src="{{ site.url }}/js/scrollspytoc.js"></script>
{% endif %}

</body>
</html>
