<footer>
  <div class="container">
    <nav class="navbar navbar-toggleable" id="footer-navbar">
      <a class="navbar-brand hidden-xs-down" href="{{ site.url }}/">GeoRocket</a>
      <ul class="navbar-nav mx-auto mr-sm-0 ml-sm-auto text-center text-md-left">
        <li class="nav-item hidden-sm-up">
            <a class="nav-link pseudo-brand" href="{{ site.url }}/">GeoRocket</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/products">Products</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/docs">Docs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/blog">Blog</span></a>
        </li>
      </ul>
      <form class="form-inline ml-3">
        <a class="nav-link try" href="{{ site.url }}/try">Try GeoRocket</span></a>
      </form>
    </nav>
  </div>
</footer>
<footer class="copyright">
  <div class="container">
    <div class="row copyright">
      <div class="col-md-4 text-center text-md-left">
        <a href="http://www.igd.fraunhofer.de">
          <img class="img-fluid fraunhofer-logo" src="{{ site.url }}/images/fraunhofer.svg" alt="Fraunhofer logo">
        </a>
      </div>
      <div class="col-md-8 text-center text-md-left">
        <p class="text-md-right">Copyright &copy; 2015-{{ site.time | date("YYYY") }} <a href="http://www.igd.fraunhofer.de">Fraunhofer Institute for Computer Graphics Research IGD</a><br>
        <a href="{{ site.url }}/imprint">Imprint</a> |
        <a href="{{ site.url }}/privacy">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.url }}/js/jquery.min.js"></script>
<script src="{{ site.url }}/js/tether.min.js"></script>
<script src="{{ site.url }}/js/bootstrap.min.js"></script>

<script src="{{ site.url }}/js/jquery.dotdotdot.min.js"></script>
<script src="{{ site.url }}/js/jquery.scrollme.min.js"></script>

<script src="{{ site.url }}/js/applyellipsis.min.js"></script>
<script src="{{ site.url }}/js/disabledpaginationlinks.min.js"></script>
<script src="{{ site.url }}/js/gototopbutton.min.js"></script>

{% if stickytoc %}
<script src="{{ site.url }}/js/fixedsticky.min.js"></script>
<script src="{{ site.url }}/js/stickytoc.min.js"></script>
{% endif %}
{% if scrollspytoc %}
<script src="{{ site.url }}/js/scrollspytoc.min.js"></script>
{% endif %}
{% if breakintable %}
<script src="{{ site.url }}/js/breakintable.min.js"></script>
{% endif %}

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//georocket.io/piwik/";
    _paq.push(['setTrackerUrl', u+'js/']);
    _paq.push(['setSiteId', '1']);
    _paq.push(['setAPIUrl', u]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//georocket.io/piwik/js/?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->

</body>
</html>
