<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

<div class="navbar-container">
<div class="container">
  <nav class="navbar navbar-light navbar-static-top">
    <a class="navbar-brand" href="{{ site.url }}/"><img src="{{ site.url }}/images/logo_light.svg" height="60px"></a>
    <button class="navbar-toggler hidden-md-up pull-right" type="button">
      &#9776;
    </button>
    <ul class="nav navbar-nav pull-right hidden-sm-down">
      <li class="nav-item">
        <a class="nav-link" href="#">Downloads</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Showcases</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Docs</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</span></a>
      </li>
    </ul>
  </nav>
</div>
</div>

{{ contents | safe }}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Copyright &copy; {{ site.time | date("YYYY") }} Fraunhofer Institute for Computer Graphics Research IGD</p>
        <img class="img-responsive fraunhofer-logo" src="{{ site.url }}/images/fraunhofer-light.svg" alt="Fraunhofer logo">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-2">
        <h5>Website</h5>
        <ul class="list-unstyled">
          <li class="nav-item">
            <a class="nav-link" href="#">Downloads</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Showcases</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Docs</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

<script src="{{ site.url }}/js/jquery.scrollme.min.js"></script>

</body>
</html>
